<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/style.css" />
    <link rel="stylesheet" href="../styles/header.css" />
    <script src="../js/header.js"></script>
  </head>
  <body>
    <!-- hier beginnt die html des header -->
    <div id="header" class="header">
      <div class="header-container">
        <div class="logo-mobile d-none-header">
          <img src="../img/join_logo.png" alt="logo"/>
        </div>
        <span class="title">Kanban Project Management Tool</span>
        <div class="icon-container">
          <div class="help-container" id="helpContainer">
            <img
              src="../img/help.png"
              alt="help"
              class="help-icon"
              onclick="openPage('help')"
            />
          </div>
          <div class="user-icon" id="userNavar" onclick="togglePopUpMenu()">
            <span class="Icon-elipse" id="iconElipse"></span>
          </div>
        </div>
      </div>
      <div class="popUp-container" id="popUpUser">
        <div>
          <div class="popUp-button" onclick="openPage('legalNotice')">
            Legal Notice
          </div>
          <div class="popUp-button" onclick="openPage('privacyPolicy')">
            Privacy Policy
          </div>
          <div class="popUp-button" onclick="logOut()">Log out</div>
        </div>
      </div>
    </div>
    <div class="close-popup-by-click" id="closePopUpContentContainer" onclick="togglePopUpMenu()">

    </div>
    <!-- hier endet die html des header -->
  </body>
</html>
