::selection {
    background-color: #2a3647;
    color: white; 
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background-color: rgb(246,247,248);
}

@font-face {
    font-family: "Inter", sans-serif;
    src: url(/fonts/inter-v13-latin-regular.woff2);
}

.contact-container {
    display: flex;
    width: 100%;
    max-width: 1440px;
}

#contactName {
    text-transform: capitalize;
}

.left-side {
    height: calc(100vh - 96px);
    margin-top: 96px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: white;
    margin-left: 232px;
    width: 35vw;
}

.right-side-infos {
    position: sticky;
    top: 96px;
    height: calc(100vh - 96px);
}

.right-side {
    width: 65vw;
    background-color: rgb(246,247,248);
    padding-left: 40px;
    padding-right: 40px;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

button {
    color: white;
    border-radius: 10px;
    border: 1px;
    cursor: pointer;
}

.button1 {
    background-image: url(/img/person_add.png);
    background-repeat: no-repeat;
    background-position: 90%;
    background-color: rgba(42, 54, 71);
    color: white;
    border-radius: 10px;
    border: 1px;
    width: 100%;
    height: 56px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 22.5px;
}

.button1:hover {
    background-color: rgb(41,171,226);
}

.contact-headline {
    display: flex;
    gap: 30px;
    align-items: center;
}

h1 {
    font-size: 61px;
    font-weight: 700;
}

h2 {
    font-size: 27px;
    font-weight: 400;
}

h3 {
    font-size: 47px;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: 500;
}

h4 {
    size: 20px;
    font-weight: normal;
    padding-top: 20px;
}

h5 {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-bottom: 15px;
    padding-top: 15px;
}

.contacts-line {
    border: 3x;
    background-color: #29ABE2;
    height: 59px;
    width: 3px;
}

.user {
    height: 120px;
    width: 120px;
    border-radius: 70px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 47px;
}

.user-small {
    height: 42px;
    width: 42px;
    border-radius: 70px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.contact-info {
    display: flex;
    align-items: center;
    gap: 40px;
}

.logos {
    display: flex;
    align-items: center;
    gap: 13px;
}

.logos img {
    height: 24px;
    width: 24px;
}

.edit {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.edit:hover {
    color:#29ABE2;
    filter: brightness(0) saturate(100%) invert(52%) sepia(98%) saturate(407%) hue-rotate(155deg) brightness(93%) contrast(90%);
}

.delete {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.delete:hover {
    color: #29ABE2;
    filter: brightness(0) saturate(100%) invert(52%) sepia(98%) saturate(407%) hue-rotate(155deg) brightness(93%) contrast(90%);
}

.letter {
    height: 58px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 20px;
}

.name-logos {
    height: 78px;
    padding-left: 20px;
}

.informations {
    display: flex;
    align-items: center;
    gap: 35px;
    padding-left: 20px;
    border-radius: 10px;
    margin-top: 5px;
    padding: 15px;
    cursor: pointer;
}

.show-contact {
    display: flex;
    flex-direction: column;
}

.informations:hover {
    background-color: rgba(0, 0, 0, 0.4) !important;
    color: black;
}

#show-contact-infos {
    height: calc(100vh - 340px);
}

.hide-contact-infos {
    transform: translateX(4000px);
    transition: all 225ms ease-in-out; 
}

.show-contact-infos {
    transform: translateX(0px);
    transition: all 225ms ease-in-out;
}

.line-contacts {
    width: 100%;
    border: 1px;
    background-color: rgb(231,231,231);
    height: 1px;
}

.mail-link {
    color: rgb(32,140,240);
}

.add-button {
    position: sticky;
    top: 96px;
    background-color: white;
}

.contact-area {
    overflow-y: auto;
    height: calc(100vh - 175.5px);
}

.overlay-add-contact {
    position: fixed;
    z-index: 999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    height: 70%;
    width: 90%;
    position: relative;
    max-width: 1020px;
    min-height: 685px;
}

.d-flex {
    display: flex;
}

.d-none-contacts {
    display: none !important;
}

.blue-container {
    background-color: #2b3647;
    width: 40%;
    height: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-left: 40px;
    color: white;
}

.blue-container h1 {
    margin-block-end: 0;
    margin-block-start: 10px;
}

.close-button {
    position: absolute;
    width: 32px;
    height: 32px;
    right: 32px;
    top: 48px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.close-button2 {
    position: absolute;
    width: 32px;
    height: 32px;
    right: 32px;
    top: 48px;
    border: none;
    display: none;
    cursor: pointer;
}

.close-button:hover {
    filter: brightness(0) saturate(100%) invert(52%) sepia(98%) saturate(407%) hue-rotate(155deg) brightness(93%) contrast(90%);
}

.profile-logo {
    width: 20%;
    display: flex;
    justify-content: center;
}

.width {
    width: 20%;
    display: flex;
    justify-content: center;
}

.profile-logo-edit {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 120px;
    border-radius: 70px;
    font-size: 47px;
}

.input-new-contact {
    width: 40%;
    margin-right: 20px;
}

.input-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.add-contact-button {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 40px;
}

.button2 {
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: white;
    color: black;
    border: solid 1px;
    border-color: #2A3647;
    width: 30%;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button2:hover {
    border-color: rgb(41,171,226);
    color: rgb(41,171,226);
}

.button2:hover .cross{
    filter: brightness(0) saturate(100%) invert(52%) sepia(98%) saturate(407%) hue-rotate(155deg) brightness(93%) contrast(90%); 
}

.button3 {
    background-color: rgba(42, 54, 71);
    width: 45%;
    font-size: 16px;
    background-image: url(/img/check.png);
    background-repeat: no-repeat;
    background-position: 90%;
    text-align: left;
    padding-left: 16px;
}

.button3:hover {
    background-color: rgb(41,171,226); 
}

.input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    padding: 13px 21px 13px 21px;
    width: 80%;
}

.background-img-profile {
    background-image: url(/img/person.png);
    background-repeat: no-repeat;
    background-position: 95%;
}

.background-img-mail {
    background-image: url(/img/mail.png);
    background-repeat: no-repeat;
    background-position: 95%;
}

.background-img-phone {
    background-image: url(/img/call.png);
    background-repeat: no-repeat;
    background-position: 95%;
}

.button4 {
    padding: 16px;
    background-color: white;
    color: black;
    border: solid 1px;
    border-color: #2A3647;
    width: 25%;
    font-size: 21px;
    text-align: center;
}

.button4:hover {
    border-color: rgb(41,171,226);
    color: rgb(41,171,226);
}

.button5 {
    background-color: rgba(42, 54, 71);
    width: 25%;
    font-size: 21px;
    background-image: url(/img/check.png);
    background-repeat: no-repeat;
    background-position: 80%;
    text-align: left;
    padding-left: 16px;
}

.button5:hover {
    background-color: rgb(41,171,226); 
}

.successfully-created {
    transform: translateX(4000px);
    transition: all 500ms ease-in-out;
    text-align: center;
    height: 74px;
    background-color: #2a3647;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 50%;
    position: absolute;
}

.successfully-deleted {
    transform: translateX(4000px);
    transition: all 500ms ease-in-out;
    text-align: center;
    height: 74px;
    background-color: #2a3647;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 50%;
    position: absolute;
}

.successfully-saved {
    transform: translateX(4000px);
    transition: all 500ms ease-in-out;
    text-align: center;
    height: 74px;
    background-color: #2a3647;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 50%;
    position: absolute;
}

.show-successfully-created {
    transform: translateX(0px);
    transition: all 500ms ease-in-out;
}

.show-successfully-deleted {
    transform: translateX(0px);
    transition: all 500ms ease-in-out;
}

.show-successfully-saved {
    transform: translateX(0px);
    transition: all 500ms ease-in-out;
}

.add-button-mobile {
    background-color: rgba(42, 54, 71);
    border-radius: 100%;
    height: 56px;
    width: 56px;
    display: none;
    margin-left: 90%;
}

.overflow-hidden {
    overflow: hidden;
}

.z-index {
    z-index: 3;
}

.arrow {
    position: absolute;
    top: 10%;
    left: 90%;
    display: none;
}

.mobile-menu {
    display: none;
    background-color: #2A3647;
    border-radius: 100%;
    padding: 16px;
    height: 20px;
    width: 20px;
}

.mobile-menu:hover {
    background-color: #29ABE2;
}

.edit-delete-mobile {
    position: absolute;
    top: 80%;
    left: 80%;
    padding: 10px;
    display: none;
    border-radius: 20px 20px 0px 20px;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 999;
}

#blue-underline {
    display: none;
}

@media(max-width: 1250px) {
    .name-logos h3 {
        font-size: 32px;
    }

    .user {
        height: 100px;
        width: 100px;
    }

    .contact-headline h2 {
        font-size: 18px;
    }

    .contact-info {
        gap: 10px;
    }
}

@media(max-width: 1100px) {
    .left-side {
        width: 100vw;
        z-index: 2;
        margin-top: 80px;
        height: calc(100vh - 160px);
        margin-left: 0;
    }

    .contact-area {
        height: calc(100vh - 230px);
    }

    .right-side {
        width: calc(100vw - 80px);
        position: fixed;
        left: 232px;
        height: calc(100vh - 160px);
        margin-top: 80px;
        left: 0;
    }

    .right-side-infos {
        height: calc(100vh - 160px);
    }

    .arrow {
        display: block;
        cursor: pointer;
        z-index: 2;
    }

    #blue-underline {
        display: block;
    }

    .logos {
        display: none;
    }

    .contact-info {
        gap: 16px;
    }

    .name-logos {
       height: auto;
       padding-left: 0;
    }

    .right-side h1 {
        margin-block-end: 0;
        margin-block-start: 0;
    }

    .right-side h2 {
        margin-block-start: 0;
        margin-block-end: 0;
    }

    .contacts-line {
        display: none;
    }

    .contact-headline {
        display: block;
        padding-top: 40px;
    }

    .button1 {
        display: none;
    }

    .add-button-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .add-button-mobile:hover {
        background-color: rgb(41,171,226);
    }

    .overlay-add-contact {
        height: 100vh;
    }

    .overlay-contact {
        flex-direction: column;
        width: 90%;
        height: calc(100vh - 160px);
    }

    .blue-container {
        width: calc(100% - 20px);
        height: 45%;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 0px;
        display: flex;
        align-items: first baseline;
        padding-left: 20px;
    }

    .blue-container img {
        margin-bottom: 40px;
    }

    .logo {
        display: none;
    }

    .logo2 {
        display: none;
    }

    .input-new-contact {
        margin-bottom: 40px;
        width: 100%;
        margin-right: 0;
        height: 55%;
        margin-top: 100px;
    }

    .profile-logo-edit {
        width: 120px;
        height: 120px;
        position: absolute;
        top: 28%;
    }

    .profile-logo img {
        width: 120px;
        height: 120px;
        position: absolute;
        top: 200px;
    }

    .button2 {
        display: none;
    }

    .button3{
        height: 42px;
        text-align: center;
    }

    .close-button {
        display: none;
    }

    .close-button2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mobile-menu {
        display: flex;
        text-align: center;
        justify-content: center;
        position: absolute;
        top: 90%;
        left: 90%;
        cursor: pointer;
    }

    #show-contact-infos {
        margin-top: 40px;
    }

    .successfully-deleted {
        top: 80%;
        width: 70%;
    }

    .successfully-saved {
        top: 80%;
        width: 70%;
    }

    .successfully-created {
        top: 80%;
        width: 70%;
    }

    .edit-delete-mobile {
        display: block;
    }
}

@media(max-width: 600px) {
    .name-logos h3 {
        font-size: 36px;
    }

    .user {
        height: 80px;
        width: 80px;
        font-size: 27px;
    }

    .right-side {
        padding-left: 20px;
        padding-right: 20px;
        width: calc(100vw - 40px);
    }

    .right-side h1 {
        font-size: 47px;
    }

    .right-side h2 {
        font-size: 20px;
    }

    .blue-container h1 {
        font-size: 47px;
    }

    .blue-container h2 {
        font-size: 20px;
    }

    .button3 {
        text-align: left;
        width: 40%;
        min-width: 160px;
    }
}

@media(max-width: 430px) {
    .name-logos h3 {
        font-size: 24px;
        font-weight: bold;
    }

    .user {
        height: 60px;
        width: 60px;
        font-size: 22px;
    }

    .arrow {
        left: 85%;
    }

    .mobile-menu {
        left: 85%;
    }

    .blue-container h1 {
        font-size: 40px;
    }

    .blue-container h2 {
        font-size: 16px;
    }

    .close-button2 {
        right: 16px;
        top: 24px;
    }

    .edit-delete-mobile {
        left: 75%;
    }

    .button4 {
        font-size: 16px;
        min-width: 90px;
    }

    .button5 {
        font-size: 16px;
        min-width: 90px;
    }
}

@media (max-width: 380px) {
    .left-side {
        padding-left: 10px;
        padding-right: 10px;
    }

    .add-button-mobile {
        margin-left: 80%;
    }

    .mobile-menu {
        top: 88%;
    }
}